<section class="mt-2">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src="/images/ms-1.avif" class="w-full" alt="sliderImage " />
    </ng-template>

    <ng-template carouselSlide>
      <img src="/images/ms-2.avif" class="w-full" alt="sliderImage" />
    </ng-template>

    <ng-template carouselSlide>
      <img src="/images/ms-3.avif" class="w-full" alt="sliderImage" />
    </ng-template>

    <ng-template carouselSlide>
      <img src="/images/ms-4.avif" class="w-full" alt="sliderImage" />
    </ng-template>
  </owl-carousel-o>
</section>
