<section
  class="p-4 border border-green-600 w-1/2 shadow-md md:mx-auto bg-gray-300 my-4"
>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="relative my-2">
      <input
        formControlName="email"
        type="email"
        id="email"
        class="block rounded-t-base px-2.5 pb-2.5 pt-5 w-full text-sm text-heading bg-neutral-secondary-medium border-0 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
        placeholder=" "
      />
      <label
        for="email"
        class="text-green-500 absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
      >
        Email :
      </label>
      @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (loginForm.get('email')?.getError('required')) {
            <li>input is required</li>
            } @if (loginForm.get('email')?.getError('email')) {
            <li>pleace Enter The Correct Email</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <div class="relative my-2">
      <input
        formControlName="password"
        [type]="flag ? 'password' : 'text'"
        id="password"
        class="block rounded-t-base px-2.5 pb-2.5 pt-5 w-full text-sm text-heading bg-neutral-secondary-medium border-0 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
        placeholder=" "
      />
      <label
        for="password"
        class="text-green-500 absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
      >
        password :
      </label>

      <span (click)="flag = !flag" class="absolute top-4 end-4 cursor-pointer">
        @if (flag) {
        <i class="fas fa-eye text-green-600"></i>
        } @else { <i class="fas fa-eye-slash text-green-600"></i>}
      </span>

      @if (loginForm.get('password')?.errors &&
      loginForm.get('password')?.touched) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (loginForm.get('password')?.getError('required')) {
            <li>input is required</li>
            } @else if (loginForm.get('password')?.getError('pattern')) {
            <li>The Password must be 6 characters or more</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <div class="flex items-center justify-between space-x-20">
      <a routerLink="/forgot" class="text-sky-600 cursor-pointer"
        >forgetPassword
      </a>

      <button
        type="submit"
        class="w-full cursor-pointer my-2 text-white bg-green-800 hover:bg-green-900-strong shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
      >
        login @if (isloadinng) {
        <i class="fas fa-spinner animate-spin"></i>
        }
      </button>
    </div>
    @if (msgError) {
    <p class="text-center text-red-900 my-2 p-2 bg-red-200">{{ msgError }}</p>

    }
  </form>
</section>
