/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body {
  font-family: "Edu NSW ACT Cursive", cursive;
  padding-top: 60px;
}
.owl-dot span {
  transform: translateY(-40px);
}

:root {
  --main-color: #0aad0a;
}

.btn-main {
  background-color: var(--main-color);
  padding: 7px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s;
}
.btn-main:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}
.btn-main:disabled:hover {
  background-color: #ccc;
}
.btn-main:hover {
  background-color: #11bd11;
}
