<section class="bg-gray-200 my-5 p-10 w-1/2 mx-auto">
  <div class="container mx-auto">
    <ol
      class="flex bg-white rounded-lg my-3 items-center w-full p-3 space-x-2 text-sm font-medium text-center text-body bg-neutral-primary-soft rounded-base shadow-xs sm:p-4 sm:space-x-4 rtl:space-x-reverse"
    >
      <li
        [class.text-blue-600]="step === 1"
        class="flex items-center text-fg-brand"
      >
        <span
          class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-brand rounded-full shrink-0"
        >
          1
        </span>
        verify Email <span class="hidden sm:inline-flex ms-2">Info</span>
        <svg
          class="w-5 h-5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m7 16 4-4-4-4m6 8 4-4-4-4"
          />
        </svg>
      </li>
      <li [class.text-blue-600]="step === 2" class="flex items-center">
        <span
          class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-body rounded-full shrink-0"
        >
          2
        </span>
        verify Code <span class="hidden sm:inline-flex ms-2">Info</span>
        <svg
          class="w-5 h-5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m7 16 4-4-4-4m6 8 4-4-4-4"
          />
        </svg>
      </li>
      <li [class.text-blue-600]="step === 3" class="flex items-center">
        <span
          class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-body rounded-full shrink-0"
        >
          3
        </span>
        reset Password
      </li>
    </ol>

    @if (step === 1) {
    <form [formGroup]="verifyEmail" (ngSubmit)="formStep1()">
      <div class="relative my-2">
        <input
          formControlName="email"
          type="email"
          id="email"
          class="block rounded-t-base px-2.5 pb-2.5 pt-5 w-full text-sm text-heading bg-neutral-secondary-medium border-0 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=" "
        />
        <label
          for="email"
          class="text-green-500 absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
        >
          Email :
        </label>
        @if (verifyEmail.get('email')?.errors &&
        verifyEmail.get('email')?.touched) {

        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (verifyEmail.get('email')?.getError('required')) {
              <li>input is required</li>
              } @if (verifyEmail.get('email')?.getError('email')) {
              <li>pleace Enter The Correct Email</li>
              }
            </ul>
          </div>
        </div>
        }
      </div>

      <button
        type="submit"
        class="w-full cursor-pointer my-2 text-white bg-green-800 hover:bg-green-900-strong shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
      >
        verify Email
      </button>
    </form>
    } @else if (step === 2) {
    <form [formGroup]="verifyCode" (ngSubmit)="formStep2()">
      <div class="relative my-2">
        <input
          formControlName="resetCode"
          type="text"
          id="resetCode"
          class="block rounded-t-base px-2.5 pb-2.5 pt-5 w-full text-sm text-heading bg-neutral-secondary-medium border-0 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=" "
        />
        <label
          for="resetCode"
          class="text-green-500 absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
        >
          resetCode :
        </label>
        @if (verifyCode.get('resetCode')?.errors &&
        verifyCode.get('resetCode')?.touched) {

        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (verifyCode.get('resetCode')?.getError('required')) {
              <li>input is required</li>
              }
            </ul>
          </div>
        </div>
        }
      </div>

      <button
        type="submit"
        class="w-full cursor-pointer my-2 text-white bg-green-800 hover:bg-green-900-strong shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
      >
        verify code
      </button>
    </form>
    } @else if (step === 3) {
    <form [formGroup]="resetPassword" (ngSubmit)="formStep3()">
      <div class="relative my-2">
        <input
          formControlName="email"
          type="email"
          id="email"
          class="block rounded-t-base px-2.5 pb-2.5 pt-5 w-full text-sm text-heading bg-neutral-secondary-medium border-0 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=" "
        />
        <label
          for="email"
          class="text-green-500 absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
        >
          Email :
        </label>
        @if (resetPassword.get('email')?.errors &&
        resetPassword.get('email')?.touched) {

        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (resetPassword.get('email')?.getError('required')) {
              <li>input is required</li>
              } @if (resetPassword.get('email')?.getError('email')) {
              <li>pleace Enter The Correct Email</li>
              }
            </ul>
          </div>
        </div>
        }
      </div>

      <div class="relative my-2">
        <input
          formControlName="newPassword"
          [type]="flag ? 'password' : 'text'"
          id="newPassword"
          class="block rounded-t-base px-2.5 pb-2.5 pt-5 w-full text-sm text-heading bg-neutral-secondary-medium border-0 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=" "
        />
        <label
          for="newPassword"
          class="text-green-500 absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
        >
          password :
        </label>

        <span
          (click)="flag = !flag"
          class="absolute top-4 end-4 cursor-pointer"
        >
          @if (flag) {
          <i class="fas fa-eye text-green-600"></i>
          } @else { <i class="fas fa-eye-slash text-green-600"></i>}
        </span>

        @if (resetPassword.get('newPassword')?.errors &&
        resetPassword.get('newPassword')?.touched) {

        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (resetPassword.get('newPassword')?.getError('required')) {
              <li>input is required</li>
              } @else if (resetPassword.get('newPassword')?.getError('pattern'))
              {
              <li>The Password must be 6 characters or more</li>
              }
            </ul>
          </div>
        </div>
        }
      </div>

      <button
        type="submit"
        class="w-full cursor-pointer my-2 text-white bg-green-800 hover:bg-green-900-strong shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
      >
        verify Email
      </button>
    </form>
    }
  </div>
</section>
